* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    height: 50px;
}
nav {
    position: fixed;
    height: 50px;
    background-color: #212121;
    width: 100%;
    z-index: 2;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
}

.menu .menu_item {
    border-right: 2px dotted black;
    
}

.menu .menu_link {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    list-style: none;
    padding: 37px;
}

.subheader {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
}

.subheader .subheader_logo {
    margin-top: 20px;
    margin-left: 25px;
}

.subheader .subheader_official {
    margin-top: 2px;
    margin-left: 25px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}

.subheader .subheader_call {
    margin-top: 23px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}

.subheader .subheader_tell {
    margin-top: 8px;
    margin-left: 38px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
}

.subheader .subheader_btn {
    margin-top: 23px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.promo {
    min-height: 800px;
    background: url('../img/bg-1.png') center center/cover no-repeat; 
    padding: 151px 0 135px 0;
}

.promo .promo_header {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    margin: 0;
    margin-right: 60px;
}

.promo .promo_subheader {
    margin-top: 22px;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    margin-right: 35px;
}

.promo .promo_descr {
    margin-top: 23px;
    padding: 0 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 118px;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.reasons {
    height: 1000px;
    padding: 71px 0 62px 0;
}

.label {
    display: block;
    margin: 0 auto;
    width: 112px;
    height: 24px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.title {
    margin: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}


.reasons .reasons_block {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reasons .reasons_icon {
    margin-right: 26px;
}

.reasons .reasons_descr {
    width: 430px;
}
.reasons .reasons_block .reasons_subtitle {
    color: #202020;
    font-size: 15px;
    line-height: 21px;
    text-align: justifyLeft;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}